.top-card {
  position: relative;
}
.top-card .card-title-rect {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 36px;
  background-color: #33b4ff;
}
.top-card .top-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.top-card .top-wrap .top-card-content {
  float: left;
  position: relative;
  width: 30%;
  min-width: 280px;
  height: 156px;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
  font-weight: 500;
  margin: 0 0 10px 10px;
}
.top-card .top-wrap .top-card-content .otitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  line-height: 56px;
  font-size: 20px;
}
.top-card .top-wrap .top-card-content .otitle .icon {
  font-size: 24px;
}
.top-card .top-wrap .top-card-content .ocontent {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: 99px;
  text-align: center;
  line-height: 99px;
  font-size: 28px;
}
.top-card .top-wrap .top-card-content:first-child {
  background-color: #33b4ff;
}
.top-card .top-wrap .top-card-content:nth-child(2) {
  background-color: #ff908f;
}
.top-card .top-wrap .top-card-content:nth-child(3) {
  background-color: #63d1e2;
}
.top-card .top-wrap .top-card-content:nth-child(4) {
  background-color: #f2c56e;
}
.top-card .top-wrap .top-card-content:nth-child(5) {
  background-color: #56cf88;
}
.top-card .top-wrap .top-card-content:last-child {
  background-color: #ffa51e;
}
.top-card .left-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.top-card .left-wrap .left-content {
  cursor: pointer;
  float: left;
  position: relative;
  width: 46%;
  min-width: 280px;
  height: 156px;
  border-radius: 5px;
  overflow: hidden;
  color: #000;
  font-weight: 500;
  margin: 0 20px 30px 0;
  background-color: #eee;
}
.top-card .left-wrap .left-content .ico-wrap {
  cursor: pointer;
  position: absolute;
  top: 45px;
  left: 60px;
  width: 68px;
  height: 68px;
  background-color: #ff6868;
  border-radius: 10px;
  text-align: center;
  line-height: 68px;
  color: #fff;
  font-size: 34px;
}
.top-card .left-wrap .left-content .l-title {
  width: 120px;
  text-align: center;
  position: absolute;
  top: 45px;
  left: 140px;
  font-weight: 700;
}
.top-card .left-wrap .left-content .l-content {
  width: 120px;
  text-align: center;
  position: absolute;
  top: 90px;
  left: 140px;
  font-weight: 700;
  color: #ff6868;
  font-size: 18px;
}
.top-card .right-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.top-card .right-wrap .right-content {
  float: left;
  position: relative;
  width: 29%;
  min-width: 260px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
  color: #000;
  font-weight: 500;
  margin: 0 20px 30px 0;
  background-color: #eee;
  cursor: pointer;
}
.top-card .right-wrap .right-content .r-ico-wrap {
  position: absolute;
  left: 30px;
  top: 25px;
  width: 30px;
  height: 30px;
  background-color: #33b4ff;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 18px;
}
.top-card .right-wrap .right-content .r-content {
  position: absolute;
  left: 80px;
  line-height: 80px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/*# sourceMappingURL=dashboard.css.map */